MvcTIC-IT/Service References/ServiceRefUK/ServiceUK6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53924/ServiceUK.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfITUK" />
  <xs:import schemaLocation="http://localhost:53924/ServiceUK.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WcfITPortugal.Viewmodels" />
  <xs:import schemaLocation="http://localhost:53924/ServiceUK.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnuncioModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="anuncio" nillable="true" type="q3:AnuncioModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnuncioModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddAnuncioModelResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDescricao">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="desc" nillable="true" type="q4:DescricaoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDescricaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDescricaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdioma_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idiomacode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdioma_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetIdioma_IDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmpresaByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="identidade" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmpresaByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="GetAllEmpresaByIDResult" nillable="true" type="q5:ArrayOfempresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnunciosID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idiomacode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnunciosIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfITPortugal.Viewmodels" minOccurs="0" name="GetAllAnunciosIDResult" nillable="true" type="q6:ArrayOfPortugalViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVisitasAnuncioPortugal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVisitasAnuncioPortugalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnunciosProcuraIndexByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnunciosProcuraIndexByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="GetAnunciosProcuraIndexByIDResult" nillable="true" type="q7:anuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnunciosDescProcuraIndexByIDAndLangCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnunciosDescProcuraIndexByIDAndLangCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="GetAnunciosDescProcuraIndexByIDAndLangCodeResult" nillable="true" type="q8:anunciodesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountIdiomas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountIdiomasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCountIdiomasResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnunciosDescProcuraIndexByIDALL">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnunciosDescProcuraIndexByIDALLResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="GetAnunciosDescProcuraIndexByIDALLResult" nillable="true" type="q9:ArrayOfanunciodesc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnunciosIndexByIdentidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idiomacode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnunciosIndexByIdentidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfITPortugal.Viewmodels" minOccurs="0" name="GetAnunciosIndexByIdentidadeResult" nillable="true" type="q10:ArrayOfPortugalViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmpresaByEmpresaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empresa_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmpresaByEmpresaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="GetAllEmpresaByEmpresaIDResult" nillable="true" type="q11:empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="desc" nillable="true" type="q12:EmpresaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddEmpresaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StreamData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/Message" name="Conteudo" type="q13:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Codigo" nillable="true" type="xs:string" />
  <xs:element name="UpdateImage_file">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="file_name_fto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImage_fileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresasIndexByIdentidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresasIndexByIdentidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="GetEmpresasIndexByIdentidadeResult" nillable="true" type="q14:ArrayOfempresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="desc" nillable="true" type="q15:EmpresaModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmpresaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresaIndexByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresaIndexByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="GetEmpresaIndexByIDResult" nillable="true" type="q16:empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmpresaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnuncio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAnuncioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresasTodasasEmpresas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpresasTodasasEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="GetEmpresasTodasasEmpresasResult" nillable="true" type="q17:ArrayOfempresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnuncio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="procura" nillable="true" type="q18:AnuncioModel" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="desc" nillable="true" type="q19:DescricaoModel" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnuncioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnuncioDescricao">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="desc" nillable="true" type="q20:DescricaoModel" />
        <xs:element minOccurs="0" name="lang" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAnuncioDescricaoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfITPortugal.Viewmodels" minOccurs="0" name="collection" nillable="true" type="q21:SearchPortugalViewModel" />
        <xs:element minOccurs="0" name="idiomacode" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfITPortugal.Viewmodels" minOccurs="0" name="SearchResult" nillable="true" type="q22:ArrayOfSearchPortugalViewModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnuncios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnunciosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="GetAllAnunciosResult" nillable="true" type="q23:ArrayOfanuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnunciosByIdentidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAnunciosByIdentidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WcfITUK" minOccurs="0" name="GetAllAnunciosByIdentidadeResult" nillable="true" type="q24:ArrayOfanuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>