MvcTIC-IT/Service References/ServiceRefAlemanha/ServiceAlemanha5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfITPortugal.Viewmodels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfITPortugal.Viewmodels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPortugalViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PortugalViewModel" nillable="true" type="tns:PortugalViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPortugalViewModel" nillable="true" type="tns:ArrayOfPortugalViewModel" />
  <xs:complexType name="PortugalViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Page" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SearchResults" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="anuncio_id" type="xs:int" />
      <xs:element minOccurs="0" name="dataanuncio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empresa_id" type="xs:int" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="identidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idioma_id" type="xs:int" />
      <xs:element minOccurs="0" name="local_de_trabalho" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numvisitas" type="xs:int" />
      <xs:element minOccurs="0" name="salario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PortugalViewModel" nillable="true" type="tns:PortugalViewModel" />
  <xs:complexType name="SearchPortugalViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Page" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SearchResults" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="anuncio_id" type="xs:int" />
      <xs:element minOccurs="0" name="dataanuncio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empresa_id" type="xs:int" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="identidade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="idioma_id" type="xs:int" />
      <xs:element minOccurs="0" name="local_de_trabalho" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numvisitas" type="xs:int" />
      <xs:element minOccurs="0" name="salario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="titulo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchPortugalViewModel" nillable="true" type="tns:SearchPortugalViewModel" />
  <xs:complexType name="ArrayOfSearchPortugalViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchPortugalViewModel" nillable="true" type="tns:SearchPortugalViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchPortugalViewModel" nillable="true" type="tns:ArrayOfSearchPortugalViewModel" />
</xs:schema>